services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: model_registry
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./deployments/docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d model_registry"]
      interval: 2s
      timeout: 3s
      retries: 10

  model-registry-service:
    build:
      context: .
      dockerfile: deployments/docker/Dockerfile
    ports:
      - "8085:8080"
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_DBNAME: model_registry
      DATABASE_SSLMODE: disable
      SERVER_PORT: 8080
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

volumes:
  pgdata:
